.explanation {
  text-align: justify;
}

.price {
  font-size: 34pt
}

button {
  font-size: calc(10px + 2vmin);
}

.book {
  text-align: center;
}

.Toast {
  background: yellow;
  width: 50%;
  display: block;
  margin-bottom: 1em;
  text-align: center;
  color: black;
  height: 50px;
  transition: height 400ms 1000ms;
  overflow: hidden;
}

.Toast-done {
  height: 0;
}
